.system{
    margin: 0 auto;
}
.inter-font {
    font-family: "Inter", sans-serif;
}
.style-wave{
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
@keyframes tooltip {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 70px;
        opacity: 1;
    }
}

@keyframes in {
    from {
        right: 500px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes right-in {
    from {
        left: 500px;
        opacity: 0;
    }

    to {
        left: 00000;
        opacity: 1;
    }
}
